version: '3.8'

services:
  vandar-mock:
    build: . 
    image: vandar-mock:latest
    restart: unless-stopped
    
    environment:
      - NODE_ENV=production
      
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        
        - "traefik.http.routers.vandar-mock.rule=Host(`vandar.codehalic.ir`)"
        
        - "traefik.http.routers.vandar-mock.entrypoints=websecure"
        
        - "traefik.http.routers.vandar-mock.tls.certresolver=letsencryptresolver"
        
        - "traefik.http.routers.vandar-mock.service=vandar-mock-svc"
        
        - "traefik.http.services.vandar-mock-svc.loadbalancer.server.port=3000"

    volumes:
      - vandar_mock_data:/app/data

    networks:
      - traefik_network

volumes:
  vandar_mock_data:

networks:
  traefik_network:
    external: true